@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(231, 227, 227);
    font-family: "Inter", sans-serif;
}

h1 {
    text-align: center;
    font-family:  "Libertinus Mono", monospace;
    font-size: 1.8em;
}

.visibleimages {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    z-index: 9999;
    padding: 0px;
    filter: drop-shadow(0.4vw 0 0 white);
    background: transparent;
    border: none;
    transition: 0.1s filter linear;
}

.visibleimages:hover {
    filter: drop-shadow(0.4vw 0 0 rgb(158, 158, 158));
}

.v-select {
   width: 50vw;
   margin: 0 auto;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background: white;
}

.inputdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-top: 2%;
}

.inputs > input {
    height: 2.25vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 20vw;
    border-radius: 5%;
}

.submit {
    cursor: pointer;
    width: 8vw;
    height: 3.5vw;
    margin-top: 2%;
    font-size: 0.85em;
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
}

#inputwrapper {
    display: flex;
    position: relative;
    height: 90vh;
}

#inputsVisibleImg {
    position: fixed;
    top: -1%;
    left: 48%;
    transform: rotate(90deg);
}

#inputsVisibleImg.active {
    position: fixed;
    bottom: 26vh;
    top: 41.25%;
}

#startui {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.01vw;
    left: 10%;
    z-index: 9999;
    top: 12.5%;
    background: rgba(0, 0, 0, 0.2);
    height: 30vh;
    width: 80vw;
}

#buttonsdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3vw;
}

#lyrics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}

.lyricsdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#currentlyrics {
    font-size: 1.35em;
    scroll-behavior: smooth;
    font-weight: bolder;
}

#songdata {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin-top: 5%;
    z-index: 1;
}

#content {
    backdrop-filter: blur(10px);
}

#author {
    font-weight: bold;
}

.songdata {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lyric {
    color: rgb(145, 142, 142);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

#newtimebar {
    position: relative;
    width: 100%;
    height: 6px;
    background: #2a2a2a;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
  }
  
  #newtimefill {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #ff4d4d, #e60023);
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(230, 0, 35, 0.25);
    transition: width 0.1s linear;
  }

@keyframes currentTimeSliderFade {
    0% {
        opacity: 0;
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 10px;
    }

    #startui {
        height: 70vh;
        width: 80vw;
        padding: 0px;
        justify-content: space-evenly;
        
    }

    #singleinputdiv {
        flex-direction: column;
        width: 100%;
    }

    .inputs {
        flex-direction: column;
    }

    .inputs > input {
        width: 200px;
        height: 25px;
    }

    #buttonsdiv > button {
        width: fit-content;
        height: 30px;
        margin-top: 10px;
    }

    #playlistinputdiv {
        flex-direction: column;
    }

    .submit {
        width: fit-content;
        height: 25px;
    }

     #inputsVisibleImg {
        left: 44%;
        top: -1%;
        width: 10vw;
        height: 10vw; 
     }

     #inputsVisibleImg.active {
        top: 81.5%;
     }

     #songdata {
        background-position: center center;
        background-size: cover;
    }

     #lyrics {
        padding: 0 20px;
        box-sizing: border-box;
     }
  
    .lyric {
        text-align: center;
        max-width: 90%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
    }  
} 